style(type='text/css').

  /* Reset Styles */
  body { margin: 0; padding: 0; }
  ul {list-style-type: none;}
  
  html {
    font-size: 16px;
    text-rendering: optimizeLegibility; }

  body {
    font-size: calc(100% + 0.3vw);
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #333;
    line-height: 1.55; }
  
  .container {
    margin: 0 auto;
    max-width: 960px;
    width: 90%; }
    .container > blockquote {
      margin: 0 2em; }

  @media only screen and (min-width: 601px) {
    .container {
      width: 85%; } }

  @media only screen and (min-width: 993px) {
    .container {
      width: 80%; } }

  h1 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0; }

  h2 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0; }

  h3 {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0; }

  h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0; }

  h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0; }
    
  .btn {
    position: relative;
    display: inline-block;
    height: 54px;
    line-height: 54px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    padding: 0 2rem;
    text-transform: uppercase;
    letter-spacing: .5px;
  }
  
  .confirm {
    background-color: limegreen;
  }
  
  .reject {
    background-color: tomato;
  }
