extends ../../layouts/default

block content
	.error.not-found
	.msg
		div
			h1= errorTitle || __('errors.404_title')
			if 'object' == typeof errorMsg
				p!= errorMsg
			else
				p.flow-text!= utils.textToHTML(errorMsg) || __('errors.404_msg')
			a.btn(href='/')= __('errors.back_home')
