extends ../layouts/default 

block content
	- var time = new Date()
	- var may = new Date('2017-05-01T00:00:01')
	- var ok = time.getTime() - may.getTime()
	
	if ok > 0
		.may1reboot-overlay
			.container
				.pitch
					h4 Maître
					
					h1 the app is 
						br
						| almost 
						span finished
						
					h4 launching on may 1
						br
						| #may1reboot
						
					#countdown
						.wrapper
							small Days
							span.days
						.wrapper
							small Hours
							span.hours
						.wrapper
							small Minutes
							span.minutes
						.wrapper
							small Seconds
							span.seconds
							
					a(href='#!', onclick="mailChimpPop(); return false;").btn-large.cta Learn more
					small subscribe to get all the news
	else
		.hero
			.hero--bg
				.hero--content.center.container
					h3
						|Encontre a sua mesa
						br
						|em
						select.browser-default.select
							each city in cidades
								if city != 'Lisboa'
									option(value = 'Lisboa') Lisboa
									option(value= city)= city
					a#reserv.btn-flat(href='/restaurants/Lisboa') Procurar

		section.restaurants
			.container
				.section--title
					h3 Destaques
				.row
					each rest in _.sampleSize(_.shuffle(restaurants), 4)
						.col.m6
							.card.small
								.card-image
									img(src= rest.image.url)
									//- img(src='https://source.unsplash.com/category/food/')
									span.card-title.card-title--index= rest.name
								.card-content
									p: small= 'Cozinha: ' + rest.cuisines
								.card-action
									a(href='rest/' + rest.key) Ver Mais
	//-.container: .jumbotron
		img(src='/images/logo.svg', width='160')
		h1 Welcome
		p This is your new <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> website.
		p It includes the latest versions of
			| <a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			| and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
		p Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		else
			p We have created a default Admin user for you with the email <strong>user@keystonejs.com</strong> and the password <strong>admin</strong>.
			p
				a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
				|  to use the Admin UI.
		hr
		p Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
			| <a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
block js
	script.
		$(document).ready(function() {
			$('.select').material_select();
			
			$('.select').on('change', function (e) {
			    var optionSelected = $("option:selected", this);
			    var valueSelected = this.value;
			    $('#reserv').attr('href', '/restaurants/' + convertToSlug(valueSelected));
			    console.log(convertToSlug(valueSelected));
			});

			function convertToSlug(Text) {
			    //return Text.toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-');
			    return Text;
			}
			
			var deadline = '2017-05-01T00:00:01'
			initializeClock('countdown', deadline);

		});
		
		function getTimeRemaining(endtime) {
		  var t = Date.parse(endtime) - Date.parse(new Date());
		  var seconds = Math.floor((t / 1000) % 60);
		  var minutes = Math.floor((t / 1000 / 60) % 60);
		  var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
		  var days = Math.floor(t / (1000 * 60 * 60 * 24));
		  return {
		    'total': t,
		    'days': days,
		    'hours': hours,
		    'minutes': minutes,
		    'seconds': seconds
		  };
		}

		function initializeClock(id, endtime) {
		  var clock = document.getElementById(id);
		  var daysSpan = clock.querySelector('.days');
		  var hoursSpan = clock.querySelector('.hours');
		  var minutesSpan = clock.querySelector('.minutes');
		  var secondsSpan = clock.querySelector('.seconds');

		  function updateClock() {
		    var t = getTimeRemaining(endtime);

		    daysSpan.innerHTML = t.days;
		    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
		    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
		    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

		    if (t.total <= 0) {
		      clearInterval(timeinterval);
		    }
		  }

		  updateClock();
		  var timeinterval = setInterval(updateClock, 1000);
		}
	.
		<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
		<script type="text/javascript">
			function mailChimpPop() {
				require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us8.list-manage.com","uuid":"c566a73727fc13ffedabf7712","lid":"efb9e56b93"}) })
				document.cookie = "MCEvilPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
			};
		</script>
		
