extends ../layouts/default

block ograph
	meta(property='og:url', content='http://beta.maitre.pt')
	meta(property='og:type', content='website')
	meta(property='og:title', content='Maître, escolha a sua mesa.')
	meta(property='og:description', content='Com a Maître, escolhe e reserva uma mesa num dos nossos restaurantes parceiros. O concierge trata do resto por si!')
	meta(property='og:image', content='http://beta.maitre.pt/images/hero/rest_hero.jpg')

	meta(name='twitter:card', content='summary_large_image')
	meta(name='twitter:site', content='@maitreApp')

block content
	.hero
			.hero--bg
				.hero--content.center.container
					h3
						|Encontre a sua mesa
						br
						|em&nbsp;
						span
							.city
								span#city-pick Lisboa
								span.arrow
								ul.sub-menu
									each city in cidades
										li: span(value= city)= city
						//select.browser-default.select
							each city in cidades
								if city != 'Lisboa'
									option(value = 'Lisboa') Lisboa
									option(value= city)= city
					a#reserv.btn-flat(href='/restaurants/Lisboa') Procurar

	section.section.restaurants
		.container
			.section--title
				h3 Destaques
			.row
				each rest in _.sampleSize(_.shuffle(restaurants), 4)
					.col.m6
						.card.small
							.card-image
								img(src= rest.image.url)
								//- img(src='https://source.unsplash.com/category/food/')
								span.card-title.card-title--index= rest.name
							.card-content
								p: small= 'Cozinha: ' + rest.cuisines
							.card-action
								a(href='rest/' + rest.key) Ver Mais
	section.section
		.container
			.section--title
				h3 Como funciona
			.row
				.col.s12.m4.center
					i.medium.material-icons search
					h5 Escolha um restaurante
					p Escolha de entre a nossa lista curada de restaurantes em todo o país.
				.col.s12.m4.center
					i.medium.material-icons date_range
					h5 Faça uma reserva
					p Faça a sua reserva escolhendo o dia e hora ou obtenha ajuda do Concierge Digital
				.col.s12.m4.center
					i.medium.material-icons credit_card
					h5 Pagamento Online
					p Com o&nbsp;
						a(href='https://stripe.com/pt') Stripe
						| &nbsp;como parceiro, no final da sua refeição tratamos do resto por si, até da conta.

	section.section.grey.lighten-4
		.container
			h4 Tudo num só sítio
			p Em vez de procurar o restaurante onde quer ir, depois tentar descobrir onde fica, procurar os contactos para fazer uma reserva... Muitas vezes estas informações estão espalhadas em vários sítios e com informações desactualizadas. Com a aplicação Maître, tem todas as informações num só sítio.
			h4 Lista dos melhores restaurantes
			p Apresentamos-lhe uma lista cuidada dos melhores restaurantes em cada cidade para que possa escolher. O concierge pode até fazer recomendações baseadas nos seus gostos pessoais. Basta escolher onde, em que dia e a que horas quer marcar uma mesa num restaurante e a aplicação trata do resto, mantendo-o informado sobre o estado das suas reservas.
			h4 Sem constrangimentos
			p Para muitos, ter que ligar para alguém desconhecido num restaurante a marcar uma mesa pode ser algo embaraçoso. Com a Maître isso acabou. A partir do momento que fizer a sua escolha de restaurante, o concierge entra em contacto com o restaurante e faz a sua marcação. Caso a hora que pretenda não esteja disponível, pode ainda sugerir-lhe um horário disponível ou restaurantes semelhantes.

	section.hero--footer
		.container
			h3 Faça a sua reserva
			a#reservFoot.btn-large(href='/restaurants/Lisboa') Procurar


block js
	script.
		$(document).ready(function() {
			/*$.get("http://freegeoip.net/json/", function (response) {
				$('#city-pick').html(response.city)
			}, "jsonp");*/

			$('.city').on('click', function() {
				$('.sub-menu').toggleClass('drop')
			})

			$('.sub-menu li span').on('click', function() {
				var value = $(this).text()
				$('#city-pick').html(value);
				$('#reserv').attr('href', '/restaurants/' + convertToSlug(value));
				$('#reservFoot').attr('href', '/restaurants/' + convertToSlug(value));
			})

			/*$('.select').material_select();

			$('.select').on('change', function (e) {
			    var optionSelected = $("option:selected", this);
			    var valueSelected = this.value;
			    $('#reserv').attr('href', '/restaurants/' + convertToSlug(valueSelected));

			    console.log(convertToSlug(valueSelected));
			});*/

			function convertToSlug(Text) {
			    //return Text.toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-');
			    return Text;
			}

		});
