extends ../layouts/default

block ograph
	meta(property='og:url', content='http://beta.maitre.pt/restaurants/')
	meta(property='og:type', content='website')
	meta(property='og:title', content='Maître, escolha a sua mesa.')
	meta(property='og:description', content='Com a Maître, escolhe e reserva uma mesa num dos nossos restaurantes parceiros. O concierge trata do resto por si!')
	meta(property='og:image', content='http://beta.maitre.pt/images/hero/rest_hero.jpg')

	meta(name='twitter:card', content='summary_large_image')
	meta(name='twitter:site', content='@maitreApp')

block content
	section.restaurants
		.container
			.section--title
				h3= filters.city
			.row
				.col.s12.cards-container
					each rest in _.shuffle(data.restaurants)
						article
							.card
								.card-image
									img(src= rest._.image.fill())
									//- img(src='https://source.unsplash.com/category/food/')
									span.card-title.card-title--index= rest.name
								.card-content
									p: small= __('restaurant.cuisines') + rest.cuisines
								.card-action
									a(href='/rest/' + rest.key) #{__('cards.more')}
