mixin nav-bar-links
    each link in navLinks
        li: a(class!=attributes.class href=link.href)= link.label
    if user
        if user.canAccessKeystone
          li: a(class!=attributes.class href='/keystone') Admin         
        li: a(class!=attributes.class href='/dashboard') Painel
        li: a(class!=attributes.class href='/signout') Log Out
    if !user
        li: a(class!=attributes.class href='/signin') Log In
